:root {
  --logo: #eba966;
  --header: #ecbcb0;
  --beige: #f6dbc0;
  --rosapastel: #e6d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header_principal {
  top: 0;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1vh 5vw;
  height: 7vh;
}

/* .contenedor_logo {
  padding: 0vh 32.5vw;
} */

.invisible {
  min-width: 10vw;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  font-style: italic;
  color: var(--logo);
  font-family: "Hello Vintage";
}

.header_principal .principal .iconos_header i {
  color: var(--logo);
}

.categorias {
  background-color: var(--header);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0vh 5vw;
  height: 7vh;
  width: 100vw;
}

.navcategorias ul li {
  display: inline-block;
  list-style: none;
}

.navcategorias ul li a {
  display: block;
  padding: 0.8rem 1.7rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  font-family: "Montserrat";
}

/* BODY */

/* .contenedor_body {
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

.video {
  /* margin: 0 auto; */
  /* padding-top: 5vh; */
  text-align: center;
  padding: 20vh 0 6vh;
  background-color: var(--rosapastel);
  margin-bottom: 1.5vh;
}

video {
  width: 60vw;
  height: 90vh;
  /* margin: 0; */
  /* margin-top: 80px; */
  /* align-items: center; */
  /* object-fit: inherit; */
}

.descripcion {
  background-color: var(--beige);
  /* text-align: center; */
  font-family: "Caviar Dreams";
  font-size: 0.7rem;
  min-height: 20vh;
  margin-bottom: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.novedades {
  background-color: var(--rosapastel);
  font-family: "Montserrat";
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
  min-height: 40vh;
}

.novedades-cont {
  /* background-color: yellowgreen; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.novedades-img {
  /* background-color: orange; */
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  /* height: 30vh; */
}

.flaticon-espalda,
.flaticon-flecha-derecha {
  min-width: 4vw;
  /* background-color: orchid; */
  font-size: 2.5rem;
}

/* .novedades h1 {
  text-align: center;
} */

.novedades img {
  border-radius: 50%;
  width: 12vw;
  /* height: 60%; */
}

.lomasbuscado {
  text-align: center;
  font-weight: 100;
  font-family: "Montserrat";
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.superposicion {
  width: 40%;
  height: 50%;
  position: relative;
}

.imagenfondo {
  width: 170%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.imagen {
  width: 170%;
  position: absolute;
  top: 70px;
  left: 10%;
  margin-bottom: 20px;
}

.formasdepago {
  background-color: var(--beige);
  text-align: center;
  font-family: "Montserrat";
}

.formasdepago .varios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*margin: 8vh 5vw;*/
  position: relative;
}

.formasdepago .varios h1 {
  font-size: 1.3rem;
  padding: 4vh;
}

.formasdepago .varios h2 {
  font-size: 1rem;
}

/*.formasdepago .varios i{
    

}*/

/* FOOTER */

.contenedor_footer {
  padding-top: 27px;
}

.contenedor_footer h1 {
  font-size: 20px;
}

.footer {
  background-color: var(--rosapastel);
  text-align: center;
  font-family: "Montserrat";
}

.footer_secundario {
  display: flex;
  align-items: center;
  padding: 0vh 5vw;
  height: 9vh;
  justify-content: space-between;
}

.paginas_finales {
  display: flex;
  align-items: center;
}

.links_footer {
  padding: 0vh 5vw;
}

.links_footer ul li {
  display: inline-block;
  list-style: none;
}

.links_footer ul .copyrigth {
  font-weight: bold;
}

.links_footer ul li a {
  display: block;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.footer .contenedor_footer .social {
  margin-top: 13px;
}

.social {
  align-items: center;
}

.social i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1.5rem;
}
